<?xml version="1.0" encoding="utf-8" ?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="__PACKAGE__"
	android:versionCode="1"
	android:versionName="1.0"
>
	<supports-screens
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:xlargeScreens="true"
	/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application
		android:banner="@drawable/banner"
		android:hardwareAccelerated="true"
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:largeHeap="true"
		android:name="com.tns.NativeScriptApplication"
		android:theme="@style/AppTheme"
		android:usesCleartextTraffic="true"
	>
		<activity
			android:configChanges="keyboard|keyboardHidden|navigation|screenSize|screenLayout|layoutDirection"
			android:label="@string/title_activity_kimera"
			android:launchMode="singleTop"
			android:name="com.tns.NativeScriptActivity"
			android:screenOrientation="landscape"
			android:theme="@style/AppTheme"
		>
			<meta-data android:name="SET_THEME_ON_LAUNCH" android:resource="@style/AppTheme" />
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.LEANBACK_LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="__PACKAGE__.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="http" />
				<data android:scheme="https" />
			</intent-filter>
			<intent-filter>
				<action android:name="__PACKAGE__.action.VIEW_LIST" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name="com.tns.ErrorReportActivity" />
	</application>
</manifest>
